.button {
    font: inherit;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 200ms;
}

.button:focus {
    outline: none;
}

.button:active {
    opacity: .8;
    transform: scale(.95);
    transition: 30ms;
}

.button--color-grey {
    color: #767676;
    background-color: #c8c8c8;
}

.button--color-grey:hover {
    color: #969696;
    background-color: #d8d8d8;
}

.button--color-none {
    opacity: .8;
    background-color: inherit;
}

.button--color-none:hover {
    opacity: 1;
    transform: scale(1.1);
}

.button--small {
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 18px;
}

.button--large {
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    padding: 16px 46px;
    border-radius: 100px;
}

