.App {
    height: 100vh;
    width: 100%;
    background-color: #f6f6f6;
    overflow: hidden;
}

.full-screen {
    width: 100%;
    height: 100%;
}

.screen-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animation-fade-in {
    animation: 700ms fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
